node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain

# solidity-coverage files
/coverage
typechain-types

# univ2
coverage.json
/univ2/node_modules
univ2/artifacts
univ2/.env
univ2/typechain-types
univ2/cache

